
<footer class="navbar footer">
    

   I participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com. I also participate in other affiliate programs. When you click on a link on my website for a product I may likely earn a small commission. My daughter and I thank you for your support! 
   <a href="https://typhaneybennett.test/privacy-policy" target="_blank">Privacy Policy</a>
   © 2021 Typhaney Bennett
</footer>

