
body {
    background-color: #090e2c;
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

body.light {
    background-color: white;
    color: #322c2c;
}

p {
    line-height: 1.5em;
}

img {
    max-width: 100%;
}

figure {
	margin: 0;
}

.text {
    margin-top: 30px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.typh {
    /*border-radius: 100%;*/
/*    max-width: 60%;*/
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.wrap {
    padding: 1% 8% 4% 8%;
}

.bulb {
    cursor: pointer;
}

.navName.light {
    color: #322c2c !important;
}


.navName {
    font-size: 22px;
    /*font-weight: bold;*/
    color: white;
    padding-top: 10px;
}

.navName span {
    font-weight: bold;
}

.nav-container {
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

    /*margin: auto;
	padding: 1% 25px 0px 25px; */
    padding-inline-start: 0px;
}

section {
    margin: auto;
}

h1 {
    text-transform: uppercase;
    color: #fb8b24;
    font-size: 3em;
}

span h1 {
    font-family: 'Londrina Outline', cursive;
    text-transform: uppercase;
}

.title {
    font-size: 2em;
    color: #fb8b24;
}

h2 {
    font-size: 1.8em;
}


a {
    text-decoration: none;
    color: #fb8b24;
}

a:hover {
    color: #ec0655;
    transition: .2s;
}

svg:hover path {
    fill: #ec0655;
    transition: .2s;
}

.social {
    display: flex;
    padding-left: 0px;
}

.social li {
    text-decoration: none;
    list-style-type: none;
    display: block;
    padding-right: 20px;
}

button {
    margin: 20px 0px 20px 0px;
}

.button {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 18px;
    /*	color: #ec0655;
	border: solid 2px #ec0655;
	background-color: transparent;
	box-shadow: 0.2rem 0.2rem #fb8b24;*/

    color: #fb8b24;
    border: solid 2px #fb8b24;
    background-color: transparent;
    box-shadow: 0.2rem 0.2rem #ec0655;
}

.button:active {
    /*background-color: #fb8b24;*/
    transition: .1s;
    box-shadow: none;
    transform: translateY(4px);
}

.blog-post-container {
    width: 50%;
    margin: auto;
}


.featured_img {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 60px;
    padding-bottom: 25px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.2));
}
 
.cat_wrap {
    bottom: 0;
    background: white;
    padding: 0 15px 0 15px;
    margin-left: 15px;
    color: #fb8b24;
    border: solid 2px #fb8b24;
    box-shadow: 0.2rem 0.2rem #ec0655;
    line-height: .5;
    z-index: 5;
}

.cat_wrap h4 {
    text-transform: uppercase;
}

.blog-post-card h2 {
    padding: 0 15px 0 15px;
}

.row {
    display: flex;
}

.column1 {
    width: 70%;
    padding-left: 5%;
    
}

.column2 {
    width: 20%;
   	flex: auto;
}




/*media queries*/

@media screen and (max-width: 991px) {
    .row {
    	flex-direction: column-reverse;
    	flex-wrap: wrap-reverse;
    }
    .column1 {
        width: 100%;
    }

    .column2 {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .blog-post-container {
        width: 100%;
    }
}
