/*blue #2018fd
pink #ec0655;
orange #fb8b24*/

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #090e2c;
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0px;
}

body.light {
    background-color: #2018fd;
    color: white;
}

p {
    line-height: 1.5em;
}

img {
    max-width: 100%;
}

figure {
	margin: 0;
}

footer {
    background-color: transparent;
    color: white;
}

.padding {
    padding:25px;
}

.orange {
  color: #fb8b24;
}

.yellow {
   color: #ccff00;
}


.opt {
    background: #2018fd;
}

.bluebg {
    background:#2018fd !important;
    padding: 30px 25px 50px 25px;
}

.grade {
    background-image: linear-gradient(to bottom, #ffffff, #f6e6f9, #fccae4, #ffadbe, #ff958a, #ff876f, #ff7c52, #fd722e, #fc5e37, #f94841, #f42f4b, #ec0655);
}

.text {
    margin-top: 30px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.typh {
    /*border-radius: 100%;*/
/*    max-width: 60%;*/
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));

}

.optSection {
    padding: 8% 0;
}

.read:hover {
    text-decoration: underline;
}

.arrow {
  border: solid #ccff00;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.righta {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}



.home_hero {
    padding-bottom: 60px;
    max-width: 1080px;
    margin: auto;
    padding-top: 40px;
}

.wrap {
    padding: 1% 8% 4% 8%;
}

.bulb {
    cursor: pointer;
}

.navName.light {
    color: #ccff00 !important;
}


/*typing*/

.entry_text {
    display: inline;
    text-transform: uppercase;
}

.typewrite {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #ccff00;
}

#text {
  display: inline-block;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.8em;
   text-transform: text-uppercase;
}

.prefix {
  display: inline-block;
  padding-right: 10px;
  font-weight: bold;
}

.typed-text {
  display: inline-block;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from, to { 
    width: 0; 
  }
  50% { 
    width: 100%; 
  }
}

@keyframes type-letter {
  0% {
    width: 0;
  }
  100% {
    width: 1ch;
  }
}

@keyframes backspace {
  from, to {
    width: 100%;
  }
  50% {
    width: 0;
  }
}

@keyframes blink-caret {
  from, to { 
    border-color: transparent; 
  }
  50% { 
    border-color: black; 
  }
}

/*typing end*/


.navName {
    font-size: 22px;
    /*font-weight: bold;*/
    color: #ccff00;
    padding-top: 10px;
}

.navName span {
    font-weight: bold;
}

.nav-container {
    height: 100px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ccff00;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 18px;
}


#mc_embed_signup {
    background: transparent !important;
}



section {
    margin: auto;
}

h1 {
    text-transform: uppercase;
    color: #ccff00;
    font-size: 3em;
}

span h1 {
    font-family: 'Londrina Outline', cursive;
    text-transform: uppercase;
}

.title {
    font-size: 2em;
    color: #ccff00;
}

h2 {
    font-size: 1.8em;
}


a {
    text-decoration: none;
    color: #ccff00;
}

a:hover {
    color: white;
    transition: .2s;
}

svg:hover path {
    fill: white;
    transition: .2s;
}

.social {
    display: flex;
    padding-left: 0px;
}

.social li {
    text-decoration: none;
    list-style-type: none;
    display: block;
    padding-right: 20px;
}

button {
    margin: 20px 0px 20px 0px;
}

.bio {
    padding-left: 25px;
}

.bioSection .row {
    max-width: 1080px;
    margin: auto;
}

.button {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 18px;
    /*	color: #ec0655;
	border: solid 2px #ec0655;
	background-color: transparent;
	box-shadow: 0.2rem 0.2rem #fb8b24;*/

    color: #fb8b24;
    border: solid 2px #fb8b24;
    background-color: transparent;
    box-shadow: 0.2rem 0.2rem #ffeb3b;
}

.button:active {
    /*background-color: #fb8b24;*/
    transition: .1s;
    box-shadow: none;
    transform: translateY(4px);
}

.blog-post-container {
    width: 50%;
    margin: auto;
}


.featured_img {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 60px;
    padding-bottom: 25px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.2));
}
 
.cat_wrap {
    bottom: 0;
    color: white;
    padding: 0 15px 0 15px;
    margin-left: 15px;
    line-height: .5;
    z-index: 5;
    background:#2018fd;
    box-shadow: 0.2rem 0.2rem #ccff00;
    border: 1px solid #ccff00;
}


.cat_wrap h4 {
    text-transform: uppercase;
}

.blog-post-card h2 {
    padding: 0 15px 0 15px;
}

.row {
    display: flex;
}

.column1 {
    width: 70%;
    padding-left: 5%;
    
}

.column2 {
    width: 20%;
   	flex: auto;
}


#typh {
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#typh.light {
-webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
}

.home-col-2 {
    min-height: 170px;
}


.footer {
    font-size: 10px;
    display: block;
}
/*media queries*/

@media screen and (min-width: 1026px) {
    .nav_link_wrap {
        width: 20%;
    }
}


@media screen and (max-width: 1026px) {
    .home-col-1 {
    width: 100%;
}


}

/*@media screen and (max-width: 991px) {
    .row {
    	flex-direction: column-reverse;
    	flex-wrap: wrap-reverse;
    }
    .column1 {
        width: 100%;
    }

    .column2 {
        width: 100%;
    }
    .entry_text {
        font-size: 1.3em;
    }
}*/

@media screen and (max-width: 991px) {
    .blog-post-container {
        width: 100%;
    }

}

@media only screen and (max-width: 768px) {
    .typewrite {
        font-size: 1.2em;
    }

    .bio {
        padding-left: 0px;
    }

    .row {
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
    }
    .column1 {
        width: 100%;
    }

    .column2 {
/*        width: 100%;*/
    }
    .entry_text {
        font-size: 1.3em;
    }


    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #090e2cde;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
            z-index: 100;
    }

    .nav-link{
    font-size: 18px;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }


    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}