body {
	background-color: #090e2c;
	color: #fefefe;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

body.light {
	background-color: white;
	color: #322c2c;
}

.bulb {
	cursor: pointer;
}

.navName {
	font-size: 22px;
	/*font-weight: bold;*/
	color: white;
	padding-top: 10px;
}

.navName span {
	font-weight: bold;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	max-width: 1350px;
	margin: auto;
	padding: 1% 25px 0px 25px; 
}

section {
	max-width: 1075px;
	margin: auto;
	padding: 1% 8% 4% 8%;
}

h1 {
	text-transform: uppercase;
	color: #fb8b24;
	font-size: 3em;
}

span h1 {
	font-family: 'Londrina Outline', cursive;
	text-transform: uppercase;
}

.title  {
	font-size: 1.5em;
	text-transform: uppercase;
	color: #fb8b24;
}

h2 {
	font-size: 1.2em;
}


a {
	text-decoration: none;
	color: #fb8b24;
}

a:hover {
	color: #ec0655;
	transition: .2s;
}

svg:hover path {
	fill: #ec0655;
	transition: .2s;
}

.social  {
	display: flex;
	padding-left: 0px;
}

.social li {
	text-decoration: none;
	list-style-type: none;
	display: block;
	padding-right: 20px;
}

button {
	margin: 20px 0px 20px 0px;
}
.button {
	cursor: pointer;
	padding: 8px 16px;
	font-size: 18px;
/*	color: #ec0655;
	border: solid 2px #ec0655;
	background-color: transparent;
	box-shadow: 0.2rem 0.2rem #fb8b24;*/

	color: #fb8b24;
	border: solid 2px #fb8b24;
	background-color: transparent;
	box-shadow: 0.2rem 0.2rem #ec0655;
}

.button:active {
	/*background-color: #fb8b24;*/
	transition: .1s;
  	box-shadow: none;
  	transform: translateY(4px);
}

